.filter-sort-bar {
  align-items: center;
  background-color: #4b75c4;
  color: #ffffffdd;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  height: 60px;
  margin: 20px 0;
}

.filter-sort-bar > * {
  margin: 5px;
}

.filter-sort-bar__form {
  width: 200px;
}

.filter-sort-bar__form input, .filter-sort-bar__form button {
  background-color: transparent;
  border: none;
  color: #ffffffdd;
  transition: 0.25s cubic-bezier(0.77, 0, 0.175, 1);
  width: max-content;
}

.filter-sort-bar__form input {
  box-sizing: border-box;
  color: #ffffff77;
  font-size: 1.1rem;
  text-align: center;
  width: 150px;
}

.filter-sort-bar__form input:valid, .filter-sort-bar__form input:focus {
  color: #ffffffdd;
}

.filter-sort-bar__form input:not(:valid) {
  box-shadow: none;
}

[class*=fa-sort-amount] {
  margin: 0 5px;
}

.fas-on {
  opacity: 1;
}

.fas-on:hover {
  opacity: 0.4;
}

.fas-off {
  opacity: 0.3;
}

.fas-off:hover {
  opacity: 0.9;
}