.App__header {
  align-items: last baseline;
  background-image: linear-gradient(to right, #1a3769, #578df1 110%);
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 40vh;
  padding: 20px 10px;
}

.group {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
  width: 100%;
}

.group--r-2 > *{
  flex-basis: 50%;
  height: 50vw;
}