.nav {
  align-items: center;
  background-color: #4369b2;
  box-sizing: border-box;
  color:#ffffffdd;
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 0 20px;
  width: 100%;
}

.nav__back-ico {
  margin-right: 10px;
}